
<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Change Password</h1><a ng-click="ctrl.closeModal()" class="button button-icon ion-close-round"></a>
  </ion-header-bar>
  <ion-content scroll="false" class="modal-note">
    <form ng-submit="ctrl.savePassword(passwordForm)" name="passwordForm" novalidate="true">
      <ion-item class="item-input">
        <input type="password" placeholder="Password" ng-model="ctrl.password.first" ng-required="true"/>
      </ion-item>
      <ion-item class="item-input">
        <input type="password" placeholder="Confirm Password" ng-model="ctrl.password.second" ng-required="true"/>
      </ion-item>
      <div class="button-bar">
        <button type="reset" class="button button-clear">Clear</button>
        <button type="submit" class="button button-clear button-positive">Save</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>