ion-view(view-title='Home')
    ion-content(class='state-home')
        .card(ng-repeat="tournament in ctrl.tournaments")
            ion-item.item-image
                img(src="img/icon.png")
            ion-item.item-icon-right
                h2 {{tournament.name}} {{tournament.number}}
                i.icon.ion-android-more-vertical(ng-click="ctrl.openMenu($event, tournament)")
