ion-view.state-login(title='Login' hide-nav-bar="true")
    ion-content(padding='false', scroll='false')
        button.button.button-light.button-block.button-outline.icon-right.ion-social-facebook(ng-click="ctrl.login()") Facebook Login