ion-view(view-title='Round')
    ion-content(class='state-round')
        .card.stage-image 
            .row 
                .col-xs-4
                    div.playerOne
                        img(src="#")
                        h3.playerName Bobby
                .col-xs-4
                    div VS
                .col-xs-4
                    div.playerTwo
                        img(src="#")
                        h3.playerName Emmy
            .item.stage Final Destination
