ion-view
    ion-nav-title {{ctrl.tournament.name}}: Round {{ctrl.round}}
    ion-content(class='state-round')
        .row.main-grid(ng-repeat="versus in ctrl.tournament.rounds[ctrl.round - 1]")
            .col-xs-12.col-sm-6.col-lg-4
                .card(ng-style='ctrl.selectedStageBackground($index)')
                    .row 
                        .col-xs-5.playerOne
                            .character(ng-style='ctrl.playerAvatar(versus.p1.avatar)')
                            h3.playerName {{versus.p1.name_first}}
                        .col-xs-2  - VS - 
                        .col-xs-5.playerTwo
                            .character(ng-style='ctrl.playerAvatar(versus.p2.avatar)')
                            h3.playerName {{versus.p2.name_first}}
                    .item 
                        h2 {{ctrl.selectedStage($index)}}
