ion-view(view-title='Round')
    ion-content(class='state-round')
        .card.stage-image
            ion-list    
                ion-item.item-avatar.playerOne
                    img(src="#")
                    h3.playerName Bobby
                h1 VS
                ion-item.item-avatar.playerTwo
                    img(src="#")
                    h3.playerName Emmy
            h1.item.stage Final Destination
