
<ion-view view-title="Admin">
  <ion-content overflow-scroll="true" class="state-admin">
    <div ng-repeat="tournament in ctrl.tournaments" class="card">
      <ion-list>
        <ion-item>
          <h2>{{tournament.name}} {{tournament.number}}</h2><span class="badge">{{tournament.date}}</span>
          <p ng-bind-html="tournament.rules"></p>
        </ion-item>
      </ion-list>
    </div>
    <form name="tournamentForm" ng-submit="ctrl.addTournament()" novalidate="" class="card">
      <ion-list ng-show="ctrl.formOpen">
        <ion-item class="item-divider">Tournament Info</ion-item>
        <ion-item class="item-input">
          <input type="text" placeholder="Name" ng-model="ctrl.tournament.name" required="required"/>
        </ion-item>
        <ion-item class="item-input">
          <input type="number" placeholder="Number" ng-model="ctrl.tournament.number" required="required"/>
        </ion-item>
        <ion-item class="item-input">
          <ionic-datepicker input-obj="ctrl.dateOpts">
            <input type="text" placeholder="Date" ng-model="ctrl.tournament.date" required="required"/>
          </ionic-datepicker>
        </ion-item>
        <ion-item class="item-input editor">
          <div contenteditable="true" text-editor="text-editor" placeholder="Rules" ng-model="ctrl.tournament.rules"></div>
        </ion-item>
        <ion-item>
          <button type="submit" ng-disabled="tournamentForm.$invalid" class="button button-clear button-block icon-right ion-checkmark">Add Tournament</button>
        </ion-item>
      </ion-list><a ng-click="ctrl.formOpen = !ctrl.formOpen" ng-hide="ctrl.formOpen" class="button button-clear button-block icon-right ion-plus">New Tournament</a>
    </form>
  </ion-content>
</ion-view>