// IMPORTS
@import "../variables";

// PAGE STYLES
.state-home{
    .card{
        .item-image{
            background-color: $theme-primary;
            img{
                width: 200px;
            }
        }
        .ion-android-more-vertical{
            cursor: pointer;
        }
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}