// IMPORTS
@import "../variables";

// PAGE STYLES
.state-round{
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
    .card{
        img{
            //background-image: ;
        }
        .stage{
            font-weight: bold;
            text-align: center;
            font-size: 25px;
        }
    }
}
