// IMPORTS
@import "../variables";

// PAGE STYLES
.state-round{
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
    .main-grid{
        margin: 0;
    }
    .card{
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .row{
            height: 300px;
            margin: 0;
            background-color: rgba(0,0,0,0.4);
            .col-xs-5{
                text-align: center;
                padding-top: 75px;
                .character{
                    display: block;
                    margin: 0 auto;
                    height: 100px;
                    width: 100px;
                    background-color: white;
                    border-radius: 100%;
                    border: 2px solid #666;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-origin: content-box;
                    padding: 10px;
                }
                h3{
                    color: #fff;
                }
            }
            .col-xs-2{
                color: #fff;
                font-size: 15px;
                text-align: center;
                padding-top: 135px;
            }
        }
        .item{
            h2{
                font-weight: bold;
                font-size: 16px;
                color: #666;
                letter-spacing: 3px;
            }
        }
    }
}
