@import '../variables';
@import '../mixin/clearfix';

$gradient-color: #ddd;
$gradient-end: rgba(red($gradient-color),green($gradient-color),blue($gradient-color),0);
$gradient-start: rgba(red($gradient-color),green($gradient-color),blue($gradient-color),1);

$footer-color: #bdbdbd;
$footer-start: 0%;
$footer-end: 65%;
$dark-gray: #B5B1B1;

body {
    @include clearfix();
    width: 100%;
}

[contenteditable]{
    height: 200px;
    width: 100%;
    &:empty:before{
        content:attr(placeholder);
        display: block;
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 14px Helvetica, arial;
        color: #aaa;
    }
}

ion-popover-view.fit {
   margin-top:0px !important;
   margin-left:-15px !important;
   height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-rules {
    ion-content{
        padding: 30px;
    }
}